#container {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: lightgoldenrodyellow;
}
#text {
    display: inline-block;
}
#image {
    display: inline;
    margin-left: 20px;
}
#container {
    width: 800px;
    margin: 20px auto;
}
#text li {
    margin: 10px;
    font-weight: bold;
    font-style: large;
}
h2 {
    margin-left: 250px;
    letter-spacing: 5px;
}
#heading {
    letter-spacing: 8px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    background-color: darkgoldenrod;
}
#box {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: black;
border-radius: 50px;
}

#box {
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    color: white;
}

#arrow {
    display: inline-block;
    margin-left: 150px;
}
#header{
    display: inline-block;
}
#header li {
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
    font-style: large;
}
#content li{
    list-style-type: none;
    margin-top: 20px;
    font-weight: bolder;
    font-style: larger;
    font-size: 25px;
    color: aqua;
}
