
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'):

      *{
        box-sizing: border-box;
        margin: 0;
        list-style-type: none;
      }
      #resume{
        color: orange;
        font-weight: bolder;
        padding: 20px;
      }
      header{
        padding: 20px;
        background-color: cadetblue;
      }
      .heading{
        color: purple;
        font-style: italic;
        font-family: "Roboto", sans-serif;

      }
      .header-info{
        margin-left: 10px;
        margin-right: 20px;
        font-weight: bolder;
      }
      .navigation{
        margin: 30px;
      }
      .social{
        margin-left: 10px;
        margin-right: 30px;
      }
      .roles{
        margin: 20px;
      }
      .professional{
        margin: 20px;
      }
      .table{
        padding: 10px;
        text-align: center;
      }
      .details{
        
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

      }
      table,tr,th,td{
        border: solid 2px; color: orangered;
        border-collapse: collapse;
      }
      .responsibilities{
        list-style-type: lower-roman;
      }
      .responsibilities li{
        padding-top: 10px;
      }
      #projectdesc ::selection{
    
      background-color: rgb(241, 193, 104);
    
      }
      #listSummary li{
        list-style-type: none;
      }
      #listSummary li::marker{
        content: "✍️";
      }
      #techTable{
        width: 50%;
      }
      #headNav{
        font-family: "Roboto", sans-serif;
        padding: 10px;
        text-align: right;
      }
      #headNav li{
        display:inline ;
        margin-right: 10px;
      }
      #headNav a{
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: bold;
      }
      #container {
         width: 800px;
         margin: 20px auto;
      }
      .professional, #techTable, .responsibilities {
        font-family: "Poppins", sans-serif;

      }
    